/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body {
  background-color: #540b51;
  font-family: "Inter";
  color: #fff;
  text-align: center;
}

.navbar-btns {
  color: #fff;
}

#menu-btn {
  position: absolute;
  top: 5px;
  right: 2%;
}

#search-btn {
  position: absolute;
  top: 5px;
  right: 7%;
}

h1 {
  color: #fff;
  font-weight: 500;
}

#free-to-try {
  color: #ecb12f;
}

.signup-btn {
  width: 95vw;
  height: 50px;
  border: none;
  background-color: #fff;
  color: #540b51;
  font-weight: 600;
  text-transform: uppercase;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
}

#signup-with-google {
  display: flex;
  flex-direction: row;
  background-color: #4285f4;
  color: #fff;
  justify-content: center;
}

#google-signup-logo {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  left: -262px;
  top: 4px;
}

#testimonials {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #f3eae2;
  color: #191817;
  text-transform: uppercase;
}

.big-number {
  font-size: 3em;
}

@media screen and (max-width: 768px) {
  #nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }

  #slacklogo {
    max-width: 10vw;
  }

  #nav-links {
    display: none;
  }
}

/* image sizes reduced for easier use */

.large-img {
  max-width: 50vw;
}

.large-logos {
  max-width: 20vw;
  max-height: 50px;
}

